.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
}
.head {
  color: rgb(17, 20, 20);
  font-size: large;
  margin-left: 6rem;
  color: #ccdcf6;
  letter-spacing: 2px;
  transition: all 0.2s ease;
  &:hover {
    color: #ffffff;
    /* transform: translateY(-4px); */
    filter: drop-shadow(0 2px 2px rgba(41, 182, 182, 0.4));
  }
}
/* Paragraph styling */
.about h5 {
  margin-left: 4rem;
  flex: 1;
  /* font-size: 1rem; */
  text-align: left;
  line-height: 1.6;
  font-size: large;
  color: rgb(179, 211, 211);
}
@media (max-width: 768px) {
  .about {
    flex-direction: column;
  }
  .about p {
    text-align: left;
    margin-bottom: 1rem;
    margin: 0;
  }
}

/* Image container */
.image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.image img {
  width: 60%;
  max-width: 250px;
  height: auto;
  transition: transform 0.3s ease;
  border-radius: 20px 0 20px 0px;
}

/* Hover effect */
.image img:hover {
  transform: scale(1.05);
}

/* Small screens */
@media (max-width: 768px) {
  .about {
    flex-direction: column-reverse; /* image below text */
    text-align: center;
  }

  .about p {
    font-size: 0.95rem;
    text-align: center;
  }

  .image img {
    width: 70%; /* take full width on mobile */
    max-width: 300px; /* neat size */
    height: auto;
    transition: transform 0.3s ease;
    border-radius: 10px;
  }
}
