/* temp  */
/* Smart sticky header wrapper */
.navbarWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgb(30, 80, 84);
  box-shadow: 1px 2px 2px rgb(80, 151, 151);
  transition: transform 0.4s ease-in-out;
}

/* When scrolling up - visible */
.show {
  transform: translateY(0);
}

/* When scrolling down - hidden */
.hide {
  transform: translateY(-100%);
}


.nav {
  padding-top: 1rem;
  /* box-shadow: 2px 4px 2px rgb(80, 151, 151); */
}

.nav ul {
  display: flex;
  gap: 15px;
  margin-right: 50px;
  margin-left: 30px;
  align-items: left;
  list-style: none;
  font-size: large;
  z-index: 100;
  /* position: fixed; */
  right: 1rem;
  top: 0rem;
  height: 40px;
  backdrop-filter: blur(30px);
}

.nav a {
  padding: 5px;
  color: rgb(238, 227, 227);
  text-decoration: none;
}

.nav a:hover {
  color: rgb(116, 255, 255);
  font-weight: 600;
}
.icon {
  width: 50px;
  font-size: xx-large;
  margin-left: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

.menuBtn {
  display: none;
  font-size: 30px;
  /* margin-left:4px; */
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  position: fixed;
  right: 0.4rem;
  z-index: 1000;
}
/* Small screen styles */
@media (max-width: 440px) {
  .menuBtn {
    display: block;
  }

  .img {
    font-size: small;
  }
  .nav {
    position: fixed;
    top: 0;
    right: -200px;
    width: 250px;
    height: 100vh;
    background: rgba(62, 91, 91, 0.9);
    padding-top: 80px;
    flex-direction: column;
    align-items: center;
    transition: right 0.3s ease;
    z-index: 1000;
  }

  .nav ul {
    flex-direction: column;
    gap: 20px;
  }

  .show {
    right: 0px; /* from right side  */
    border-radius: 4px;
  }

  .hide {
    right: -250px;
  }
}

.closeBtn {
  position: absolute;
  top: 15px;
  right: 11px;
  font-size: 40px;
  color: rgb(255, 57, 2);
  background: none;
  border: none;
  cursor: pointer;
}




/* temporary  */
/* Small to medium screens */
@media (max-width: 768px) {
  .menuBtn {
    display: block;
  }

  .nav {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background: rgba(48, 79, 79, 0.9);
    padding-top: 80px;
    flex-direction: column;
    align-items: center;
    transition: right 0.3s ease;
    z-index: 1000;
  }

  .nav ul {
    flex-direction: column;
    gap: 20px;
    margin: 0;
    align-items: center;
  }

  .show { right: 0px; border-radius: 4px; }
  .hide { right: -250px; }
}
